.item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 100%;
}

.item-image {
  width: 100%; /* Ensures the image takes the full width of the card */
  height: 150px; /* Fixed height for all images */
  object-fit: cover; /* Ensures the image covers the area, might crop */
}

.item-details {
  padding: 10px;
  flex: 1;
}

.item-name {
  margin-top: 0; /* Removes any top margin to align titles */
  font-size: 1.2rem;
  color: #333;
}

.item-price,
.item-quantity,
.item-seller {
  font-size: 0.9rem;
  color: #666;
  margin: 5px 0;
}

.add-to-cart {
  margin-top: auto; /* Pushes the button to the bottom */
  width: 100%; /* Makes the button extend full width of the card */
  padding: 10px 0; /* Optional: Adds padding for better button appearance */
  background-color: #007BFF; /* Optional: Adds background color */
  color: white; /* Optional: Changes text color to white */
  text-align: center; /* Optional: Centers the text within the button */
  border: none; /* Optional: Removes border */
  cursor: pointer; /* Optional: Changes cursor to pointer on hover */
}
.remove-from-cart{
  margin-top: auto; /* Pushes the button to the bottom */
  width: 100%; /* Makes the button extend full width of the card */
  padding: 10px 0; /* Optional: Adds padding for better button appearance */
  background-color: red; /* Optional: Adds background color */
  color: white; /* Optional: Changes text color to white */
  text-align: center; /* Optional: Centers the text within the button */
  border: none; /* Optional: Removes border */
  cursor: pointer; /* Optional: Changes cursor to pointer on hover */
}
.remove-from-cart:hover{
  background-color: #910000;
}